@use 'var' as v;


.post-form {
  display: flex;
  width: 100%;
  flex-direction: column;

  h1 {
    font-family: v.$noto;
    font-size: 45px;
  }

  &__content {
    display: flex;
    width: 100%;

    textarea {
      width: 100%;
      height: 300px;
      border: 1px solid v.$violet;
      outline: none;
      font-size: 20px;
      font-family: v.$urban;
      padding: 10px;

      &:focus {
        border: 1px solid v.$blue;
      }

    }
  }

  &__images {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 20px;

    &__col {

      &__buttons {
        margin-bottom: 20px;
        display: flex;
        column-gap: 20px;

        input {
          display: none;
        }

        label.add {
          font-size: 40px;
          color: v.$white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          background-color: v.$blue;
          border-radius: 50%;
          cursor: pointer;
          user-select: none;
        }

        label.rem {
          font-size: 40px;
          color: v.$white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          background-color: v.$red;
          border-radius: 50%;
          cursor: pointer;
          user-select: none;

          span {
            position: relative;
            top: -3px;
          }
        }

        label.main {
          font-size: 40px;
          color: v.$white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          background-color: v.$purple;
          border-radius: 50%;
          cursor: pointer;
          user-select: none;
        }
      }

      &__image {
        width: 200px;
        height: 200px;
        border: 1px solid v.$gray;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &__no-image {
        width: 200px;
        height: 200px;
        border: 1px solid v.$gray;
      }
    }
  }

  &__add {
    display: flex;
    margin-top: 30px;
    width: 100%;
    padding: 30px;
    border-top: 1px solid v.$green;

    &__button {
      font-size: 40px;
      color: v.$white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: v.$green;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
    }
  }

  &__submit {
    button {
      padding: 7px 20px;
      background-color: v.$purple;
      border: none;
      margin-top: 40px;
      cursor: pointer;
      font-size: 35px;
      font-family: v.$noto;
    }
  }
}