@use 'var' as v;

.posts-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 100px;

  &__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    &__top {
      width: 100%;
      display: flex;
      column-gap: 15px;
      align-items: center;

      &__user {
        font-size: 18px;
        font-weight: 700;
      }

      &__date {
        font-size: 18px;
        color: v.$gray;
      }

      &__avatar {
        width: 50px;
        height: 50px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    &__image {
      width: 100%;
      height: 600px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      &__show-comments {
        font-size: 18px;
        color: v.$red;
        cursor: pointer;
        transition: all 0.3s;
        user-select: none;

        &:hover {
          transform: translate(-3px, 0);
        }
      }

      &__counter {
        background-color: v.$blue;
        color: v.$white;
        font-size: 20px;
        display: flex;
        height: 50px;
        border-radius: 25px;

        .up,
        .down {
          padding: 0 20px;
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        .count {
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &__comments {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-top: 30px;

      &__comment {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 10px;

        &__top {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .date {
            color: v.$gray;
          }

          .user {
            color: v.$blue;
            font-weight: 700;
          }
        }

        &__content {
          font-size: 14px;
        }

        &__delete {
          button {
            background-color: v.$red;
            color: v.$white;
            font-family: v.$urban;
            font-size: 18px;
            padding: 7px 21px;
            border-radius: 20px;
            cursor: pointer;
            border: none;
          }
        }

        &__admin-delete {
          button {
            background-color: v.$white;
            color: v.$red;
            font-family: v.$urban;
            font-size: 15px;
            padding: 5px 15px;
            cursor: pointer;
            border: 1px solid v.$gray;
            margin-top: 5px;
          }
        }
      }
    }

    &__write-comment {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 20px;
      background-color: #f5f5f5;
      padding: 20px;

      textarea {
        width: 80%;
        height: 100px;
        background-color: #fff;
        border: 1px solid #ddd;
        outline: none;
        padding: 5px;
        font-family: v.$urban;
      }

      button {
        background-color: v.$green;
        color: v.$white;
        font-family: v.$urban;
        font-size: 18px;
        padding: 7px 21px;
        border-radius: 20px;
        cursor: pointer;
        border: none;
      }
    }
  }
}