$pro: "Crimson Pro", serif;
$urban: "Urbanist", sans-serif;
$noto: "Noto Sans Display", sans-serif;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: #7f7f7f;

$blue: #0f0bfa;
$green: #32936F;
$purple: #E83F6F;
$peach: #f25c54;
$red: #e01b1b;
$violet: #7209b7;

$xl: 1200px;
$l: 992px;
$m: 768px;
$s: 420px;
$xs: 320px;
